.modal-user {
    .Content-body {
        .red {
            color: red;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 7px;
        }
    }

    .user-body {
        .edit {
            color        : orange;
            padding-right: 10px;
        }

        .delete {
            color : red;
            cursor: pointer;
        }
    }
}